# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pipenv
Pipfile
Pipfile.lock

# Virtual Environment
.env/

# Pyenv
.python-version

# Luigi
*.luigi
luigi-task-history/

# Editor-specific
.vscode/

# Ignore local development settings
.env.local
